.home-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.instructions {
  margin: 3em;
}

.instruction-item {
  padding-top: 1em;
  font-style: italic;
}

#team-form label {
  font-weight: 800;
  margin: 0.4em;
}

#team-form input {
  margin: 1em;
  padding: 0.7em;
  border-radius: 10px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  box-shadow: none !important;
}

#team-form button {
  font-weight: 800;
  color: white;
  cursor: pointer;
  background-color: rgb(234, 0, 255);
  border-radius: 10px;
  padding: 0.7em;
  outline: none;
}
