* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  height: 90vh;
  width: 100vw;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container {
  height: 80vh;
  width: 80vw;
  position: relative;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.column {
  width: 100%;
  border-right: 1px solid black;
}
.player-character {
  position: absolute;
  bottom: 0px;
  transform: translateX(0px);
  width: 20px;
  height: 20px;
  background-color: green;
  transition: transform 0.12s ease;
}

.img {
  position: absolute;
  width: 20vw;
  height: 20vw;
  background-size: contain;
}

.img1 {
  left: 0%;
  border: 3px solid white;
}
.img2 {
  left: 25%;
  border: 3px solid blue;
}
.img3 {
  left: 50%;
  border: 3px solid yellow;
}
.img4 {
  left: 75%;
  border: 3px solid purple;
}
.shot-down-correct {
  background-color: green;
}
.shot-down-incorrect {
  background-color: red;
}
