* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  height: 90vh;
  width: 100vw;
  background-color: rgb(3, 63, 131);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-info {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.target {
  font-size: 2em;
}
.game-container {
  height: 60vh;
  width: 80vw;
  position: relative;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  justify-items: center;
}

.player-character {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: translateX(0px);
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 30px solid green;
  border-top: 30px solid transparent;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  transition: transform 0.12s ease;
}

.img {
  position: absolute;
  width: 12vw;
  height: 12vw;
  margin: 4vw;
  border-radius: 50%;
  background-size: contain;
}

.img1 {
  left: 0%;
}
.img2 {
  left: 25%;
}
.img3 {
  left: 50%;
}
.img4 {
  left: 75%;
}

.shot-down-correct {
  background-color: green;
}
.shot-down-incorrect {
  background-color: red;
}
