.load-page {
  height: 100%;
  padding: 4em;
}

.instructions {
  margin: 3em;
}

.instruction-item {
  padding-top: 1em;
  font-style: italic;
}

#team-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  padding: 0.6em;
  width: 10em;
  margin: 1em;
  background-color: rgb(3, 63, 131);
  border-radius: 10px;
}

.team-member-image {
  height: 5em;
  border-radius: 50%;
}
